@font-face {
    font-family: TypeKeys;
    src: url(../font/type_keys/TypeKeys.ttf);
}

@font-face {
    font-family: OldNewspaperTypes;
    src: url(../assets/images/soccerfont.jpg);
}

body {

    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 15%;
    background-image: url(../images/stadium.jpg);
}


h2.title {
    font-family: Impact, Charcoal, sans-serif;
    color: lightgreen;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 5em;
    margin-top: 2%;
    margin-bottom: 5%;
}

form p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: .2em;
    color: green;
    font-size: 24px;
    text-shadow: 1px 1px #ccc;
}

input.form-control {
    width: 90%;
    border: 3px solid #ccc;
}



.correct {
    color: #00b3b3;
    border-top: 3px dashed #000;
}

.incorrect {
    color: #f00;
}

h1.correct,
h1.incorrect {
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: .3em;
    text-shadow: 2px 2px #000;
    padding: 5px;
}

button.btn {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #066;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.8);
    text-decoration: none;
    color: lightblue;
    letter-spacing: .2em;
    margin: 5% 0;
    border: none;
}

button.btn:hover {
    background-color: #00b3b3;

}

button a {
    text-decoration: none;
    color: #fff;
    letter-spacing: .2em;
}

#top {
    align-content: center;
}

@media (max-width: 840px) {
    h2.title {
        font-size: 3em;
    }
}